@model IEnumerable<CinemaLib.Domain.Biglietto>

@{
    ViewData["Title"] = "Index";
}

<h1>Biglietti</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idPosto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Costo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.salaId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idPosto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Costo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.salaId)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Update" asp-route-id="@item.Id">Update</a> 
                <a class="btn btn-danger" asp-action="delete" asp-route-id="@item.Id">delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
